# 001 print 기초
화면에 Hello World 문자열을 출력하세요

In [4]:
print("Hello World")

Hello World

# 002 print 기초
화면에 Mary's cosmetics을 출력하세요. (중간에 '가 있음에 주의하세요)

In [8]:
print("Mary's cosmetics")

Mary's cosmetics

# 003 print 기초
화면에 아래 문장을 출력하세요. (중간에 "가 있음에 주의하세요.)

신씨가 소리질렀다. "도둑이야".

In [7]:
print('신씨가 소리질렀다. "도둑이야".')

신씨가 소리질렀다. "도둑이야".

# 004 print 기초
화면에 C:\Windows를 출력하세요.

In [9]:
print("C:\\Windows")

C:\Windows

# 005 print 탭과 줄바꿈
다음 코드를 실행해보고 \t와 \n의 역할을 설명해보세요.

In [10]:
print("안녕하세요.\n만나서\t\t반갑습니다.")

안녕하세요.
만나서		반갑습니다.

\n = 줄 바꿔서 출력
\t = 1 탭만큼 띄어쓰기 하고 출력

# 006 print 여러 데이터 출력
print 함수에 두 개의 단어를 입력한 예제입니다. 아래 코드의 출력 결과를 예상해봅시다.

In [11]:
print ("오늘은", "일요일")

오늘은 일요일

# 007 print 기초
print() 함수를 사용하여 다음과 같이 출력하세요.

naver;kakao;sk;samsung

In [12]:
print("naver;kakao;sk;samsung")

naver;kakao;sk;samsung

# 008 print 기초
print() 함수를 사용하여 다음과 같이 출력하세요.

naver/kakao/sk/samsung

In [13]:
print("naver/kakao/sk/samsung")

naver/kakao/sk/samsung

# 009 print 줄바꿈
다음 코드를 수정하여 줄바꿈이 없이 출력하세요. (힌트: end='') print 함수는 두 번 사용합니다. 세미콜론 (;)은 한줄에 여러 개의 명령을 작성하기 위해 사용합니다.

In [14]:
print("first");print("second")

first
second

In [21]:
print("first", end=''); print("second", end='')

firstsecond

 end를 빈 문자열('')로 설정하면 줄 바꿈을 하지 않고 출력합니다.

# 010 연산 결과 출력
5/3의 결과를 화면에 출력하세요.

In [23]:
print(5/3)

1.6666666666666667

# 011 변수 사용하기
삼성전자라는 변수로 50,000원을 바인딩해보세요. 삼성전자 주식 10주를 보유하고 있을 때 총 평가금액을 출력하세요.

In [24]:
삼성전자 = 50000
주식 = 10
평가금액 = 삼성전자*주식
print(평가금액)

500000

# 012 변수 사용하기
다음 표는 삼성전자의 일부 투자정보입니다. 변수를 사용해서 시가총액, 현재가, PER 등을 바인딩해보세요.

항목     |  값 <br>
시가총액 |  298조<br>
현재가   | 50,000원<br>
PER     |  15.79

In [27]:
시가총액 = "298조"
현재가 = "50.000원"
PER = "15.79"

# 013 문자열 출력
변수 s와 t에는 각각 문자열이 바인딩 되어있습니다.

In [29]:
s = "hello"
t = "python"

두 변수를 이용하여 아래와 같이 출력해보세요.<br>
실행 예:<br>
hello! python

In [30]:
print(s+"!"+" "+t)

hello! python

# 014 파이썬을 이용한 값 계산
아래 코드의 실행 결과를 예상해보세요.<br>
 2 + 2 * 3

In [31]:
 2 + 2 * 3

8

# 015 type 함수
type() 함수는 데이터 타입을 판별합니다. 변수 a에는 128 숫자가 바인딩돼 있어 type 함수가 int (정수)형임을 알려줍니다.

In [33]:
a = 128
print (type(a))

<class 'int'>

아래 변수에 바인딩된 값의 타입을 판별해보세요.

In [34]:
a = "132"

In [35]:
print (type(a))

<class 'str'>

# 017 정수를 문자열 100으로 변환
정수 100을 문자열 '100'으로 변환해보세요.

In [36]:
num = 100

In [43]:
num = '100'
print(num)
print (type(num))

100
<class 'str'>

# 018 문자열을 실수로 변환
문자열 "15.79"를 실수(float) 타입으로 변환해보세요.

In [45]:
str = "15.79"
str = 15.79
print(str)
print (type(str))

15.79
<class 'float'>

# 019 문자열을 정수로 변환
year라는 변수가 문자열 타입의 연도를 바인딩하고 있습니다. 이를 정수로 변환한 후 최근 3년의 연도를 화면에 출력해보세요.

In [47]:
year = "2020"

In [48]:
year = 2020
year +=1
print(year)
year +=1
print(year)
year +=1
print(year)

2021
2022
2023

# 020 파이썬 계산
에이컨이 월 48,584원에 무이자 36개월의 조건으로 홈쇼핑에서 판매되고 있습니다. 총 금액은 계산한 후 이를 화면에 출력해보세요. (변수사용하기)

In [49]:
에어컨 = 48584
이자 = 36
총금액  = 에어컨 * 이자
print(총금액)

1749024

# 021 문자열 인덱싱
letters가 바인딩하는 문자열에서 첫번째와 세번째 문자를 출력하세요.

In [51]:
letters = 'python'

In [53]:
print(letters[0],letters[2])

p t

# 022 문자열 슬라이싱
자동차 번호가 다음과 같을 때 뒤에 4자리만 출력하세요.

In [54]:
license_plate = "24가 2210"

In [62]:
print(license_plate[4:])

2210

# 023 문자열 인덱싱
아래의 문자열에서 '홀' 만 출력하세요.

In [175]:
string1 = "홀짝홀짝홀짝"

In [176]:
print(string1[0],string1[2],string1[4])
print(string1[::2])

홀 홀 홀
홀홀홀

# 024 문자열 슬라이싱
문자열을 거꾸로 뒤집어 출력하세요.

In [66]:
string = "PYTHON"

In [71]:
print(string[::-1])

NOHTYP

# 025 문자열 치환
아래의 전화번호에서 하이푼 ('-')을 제거하고 출력하세요.

In [72]:
phone_number = "010-1111-2222"

In [73]:
print(phone_number.replace("-"," "))

010 1111 2222

# 026 문자열 다루기
25번 문제의 전화번호를 아래와 같이 모두 붙여 출력하세요<br>
01011112222

In [74]:
print(phone_number.replace("-",""))

01011112222

# 027 문자열 다루기
url 에 저장된 웹 페이지 주소에서 도메인을 출력하세요.

In [75]:
url = "http://sharebook.kr"

In [84]:
domain = url.split(".")[-1]
print(domain)

kr

# 028 문자열은 immutable
아래 코드의 실행 결과를 예상해보세요.

In [177]:
lang = 'python'
lang[0] = 'P'
print(lang)

TypeError: 'str' object does not support item assignment

>>문자열을 변경이 안되므로 에러가 난다

# 029 replace 메서드
아래 문자열에서 소문자 'a'를 대문자 'A'로 변경하세요.

In [86]:
string = 'abcdfe2a354a32a'

In [90]:
print(string.replace("a","A"))

Abcdfe2A354A32A

# 030 replace 메서드
아래 코드의 실행 결과를 예상해보세요.

In [ ]:
>> string = 'abcd'
>> string.replace('b', 'B')
>> print(string)

abcd<br>
문자열은 변경 불가능하다

# 031 문자열 합치기
아래 코드의 실행 결과를 예상해보세요.

In [92]:
a = "3"
b = "4"
print(a + b)

34

문자열끼리 더할경우 그대로 문자 그대로 더해서 출력된다

# 032 문자열 곱하기
아래 코드의 실행 결과를 예상해보세요.

In [93]:
 print("Hi" * 3)

HiHiHi

문자열을 곱할경우 해당 문자열이 곲한 값 만큼 반복되서 출력된다

# 033 문자열 곱하기
화면에 '-'를 80개 출력하세요.

In [94]:
print("-"*80)

--------------------------------------------------------------------------------

# 034 문자열 곱하기
변수에 다음과 같은 문자열이 바인딩되어 있습니다.

In [95]:
t1 = 'python'
t2 = 'java'

변수에 문자열 더하기와 문자열 곱하기를 사용해서 아래와 같이 출력해보세요.<br>
python java python java python java python java

In [100]:
print((t1+" "+t2+" ") * 4)

python java python java python java python java

# 035 문자열 출력
변수에 다음과 같이 문자열과 정수가 바인딩되어 있을 때 % formatting을 사용해서 다음과 같이 출력해보세요

In [101]:
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13

이름: 김민수 나이: 10<br>
이름: 이철희 나이: 13

In [104]:
print("이름: %s 나이: %s" %(name1,age1))
print("이름: %s 나이: %s" %(name2,age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

# 036 문자열 출력
문자열의 format( ) 메서드를 사용해서 035번 문제를 다시 풀어보세요.

In [107]:
print("이름: {} 나이: {}" .format(name1,age1))
print("이름: {} 나이: {}" .format(name2,age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

# 037 문자열 출력
파이썬 3.6부터 지원하는 f-string을 사용해서 035번 문제를 다시 풀어보세요.

In [108]:
print(f"이름: {name1} 나이: {age1}")
print(f"이름: {name2} 나이: {age2}")

이름: 김민수 나이: 10
이름: 이철희 나이: 13

# 038 컴마 제거하기 
삼성전자의 상장주식수가 다음과 같습니다. 컴마를 제거한 후 이를 정수 타입으로 변환해보세요.

In [124]:
상장주식수 = "5,969,782,550"

In [125]:
상장주식수 = 상장주식수.replace(",","")
상장주식수 = int(상장주식수)
print(type(상장주식수))

<class 'int'>

# 039 문자열 슬라이싱
다음과 같은 문자열에서 '2020/03'만 출력하세요.

In [126]:
분기 = "2020/03(E) (IFRS연결)"

In [127]:
print(분기[0:7])

2020/03

# 040 strip 메서드
문자열의 좌우의 공백이 있을 때 이를 제거해보세요.

In [128]:
data = "   삼성전자    "

In [130]:
data.strip()

'삼성전자'

# 041 upper 메서드
다음과 같은 문자열이 있을 때 이를 대문자 BTC_KRW로 변경하세요.

In [131]:
ticker = "btc_krw"

In [134]:
ticker.upper()

'BTC_KRW'

# 042 lower 메서드
다음과 같은 문자열이 있을 때 이를 소문자 btc_krw로 변경하세요.

In [135]:
ticker = "BTC_KRW"

In [136]:
ticker.lower()

'btc_krw'

# 043 capitalize 메서드
문자열 'hello'가 있을 때 이를 'Hello'로 변경해보세요.

In [137]:
str = "hello"

In [139]:
str.capitalize()

'Hello'

# 044 endswith 메서드
파일 이름이 문자열로 저장되어 있을 때 endswith 메서드를 사용해서 파일 이름이 'xlsx'로 끝나는지 확인해보세요.

In [140]:
file_name = "보고서.xlsx"

In [144]:
file_name.endswith("xlsx")

True

# 045 endswith 메서드
파일 이름이 문자열로 저장되어 있을 때 endswith 메서드를 사용해서 파일 이름이 'xlsx' 또는 'xls'로 끝나는지 확인해보세요.

In [145]:
file_name = "보고서.xlsx"

In [178]:
file_name.endswith("xls") or file_name.endswith("xlsx")

True

# 046 startswith 메서드
파일 이름이 문자열로 저장되어 있을 때 startswith 메서드를 사용해서 파일 이름이 '2020'로 시작하는지 확인해보세요.

In [149]:
a = "hello world"

In [150]:
a.startswith("2020")

False

# 047 split 메서드
다음과 같은 문자열이 있을 때 공백을 기준으로 문자열을 나눠보세요.

In [151]:
a = "hello world"

In [152]:
a.split()

['hello', 'world']

# 048 split 메서드
다음과 같이 문자열이 있을 때 btc와 krw로 나눠보세요.

In [153]:
ticker = "btc_krw"

In [155]:
ticker.split("_")

['btc', 'krw']

# 049 split 메서드
다음과 같이 날짜를 표현하는 문자열이 있을 때 연도, 월, 일로 나눠보세요.

In [156]:
date = "2020-05-01"

In [158]:
연도 = date.split("-")[0]
월 = date.split("-")[1]
일 = date.split("-")[2]
print(연도,월,일)

2020 05 01

# 050 rstrip 메서드
문자열의 오른쪽에 공백이 있을 때 이를 제거해보세요.

In [159]:
data = "039490     "

In [160]:
data.rstrip()

'039490'

# 심화문제
1. 다음 경로의 모든 dll 파일들에 대해 확장자를 제외한 순수 파일 이름을 추출<br>
"C:\\Windows\\System32*.dll"
2. flie_data 딕셔너리에 key는 파일 이름 , value는 path 값을 갖는 아이템 추가
>딕셔너리 구조)file_data[key] = value <br>
예) file_data[file_name] = path # 여기서 file_name은 1)을 통해 추출된 순수 파일 이름임
"C:\Windows\System32*.dll"

In [171]:
from glob import glob #파일 경로를 가져오는 라이브러리
file_data ={} #딕셔너리 선언

for path in glob("C:\\Windows\\System32*.dll"):
    #file_name = [여기에 알맞은 코드를 작성하여 순수 파일 이름 추출]
    file_name_with_ext = path.split("\\"[-1])
    file_name = file_name_with_ext.split(".")[0]
    file_data[filename] = path

for key int file_data.keys():
    print("[{}]: {}".format(key,file_data[key]))